html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#timer {
  margin-left: 25px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.hide {
  display: none;
}

/* Modal styles */

.winning-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 15% auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalOpen;
  animation-duration: 1s;
}

.modal-header {
  background-color: #02ccba;
  padding: 15px;
  text-align: center;
  color: #fff;
}

.modal-body {
  padding: 25px;
  text-align: center;
}

.modal-footer {
  padding-bottom: 25px;
  text-align: center;
}

.play-again {
  padding: 10px 25px;
  border-radius: 15px;
  background-color: #02ccba;
  color: #fff;
}

.play-again:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close-btn {
  color: #fff;
  float: right;
  font-size: 30px;
}

.close-btn:hover,.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalOpen {
  from {opacity: 0}
  to {opacity: 1}
}

/* Media Queries */

@media only screen and (max-width: 715px) {
  .deck {
    width: 500px;
    min-height: 520px;
  }

  .deck .card {
    width: 90px;
    height: 90px;
  }

  .deck .card.show {
    font-size: 25px;
  }

  .modal-content {
    width: 90%;
  }
}

@media only screen and (max-width: 550px) {
  .deck {
    width: 400px;
    min-height: 420px;
    padding: 24px;
  }

  .deck .card {
    width: 75px;
    height: 75px;
  }

  .deck .card.show {
    font-size: 22px;
  }

  .modal-content {
    width: 90%;
  }
}

@media only screen and (max-width: 450px) {
  .deck {
    width: 300px;
    min-height: 320px;
    padding: 16px;
  }

  .deck .card {
    width: 55px;
    height: 55px;
  }

  .deck .card.show {
    font-size: 18px;
  }

  .score-panel {
    width: 90%;
  }

  .modal-content {
    width: 90%;
  }
}
